body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

header {
  padding: 20px;
}

.info {
  background: rgba(0,0,0,.3);
  margin: 10px auto;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}

#map {
  height: 65vh;
  margin: 15px;
  border-radius: 20px;
}
